{% extends 'CkdarbyChronoKeeperBundle::base.html.twig' %}

{% block content%}
<div class="container">
    <div class="jumbotron">
        <div class="container">
            <h1>Welcome Stranger!</h1>
            <p>ChronoKeeper allows you to track your time on a given ticket.</p>
            <p>Currently we support Github and Fogbugz ticket importing.</p>
            <p><a href="https://github.com/ckdarby/chronokeeper/" class="btn btn-primary btn-lg">About ChronoKeeper &raquo;</a></p>
        </div>
    </div>
</div>

{% endblock %}